@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
    border-radius: 6px;
    background: $backgroundColor2;
    box-shadow: 0 1px 10px $shadowColor;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 20px 15px 10px;
    height: 300px;
    margin: 0 0 20px 0;
    width: 100%;
    will-change: opacity, transform;
    animation: fadeInFromLeft 500ms;
    position: relative;
    float: left;

    .no-data {
        font-size: 1em;
        color: grey;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin: auto;
    }

    .title {
        text-transform: uppercase;
        font-size: large;
        margin-left: 10px;
        color: white;
    }

    .no-data {
        font-size: 1em;
        color: grey;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin: auto;
    }
}