$screen-xl: 2559px;
$screen-l: 1440px;
$screen-m: 1023px;
$screen-s: 767px;
$screen-xs: 424px;

$custom-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

$backgroundColor: #2B2E44;
$backgroundColor2: #2E3247;
$backgroundColor3: #202230;
$borderColor: #272B40;
$shadowColor: #272B40;
$textColor: #FFF;
$subTextColor: #778699;
$placeholderColor: #778699;
$primaryColor: #42E8E0;
$secondaryColor: #324859;
$tertiaryColor: #788fa1;
$upColor: #42E8E0;
$downColor: #ED1D25;
