@import "@/Themes/constants.scss";

.HomeBuiltArg {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: auto;
    justify-content: initial;
    margin: 40px 0;
  }
}

.HomeBuiltArgRev {
  flex-direction: row-reverse;
}

.HomeBuiltArgTitle {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: $primaryColor;
}

.HomeBuiltArgText {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  font-weight: 300;
}

.HomeBuiltArgImg {
  width: 477px;
  height: 477px;

  @media (max-width: 900px) {
    width: 300px;
    height: 300px;
  }
}