@import "@Themes/constants.scss";

.root {
    text-align: center;
    background-color: $backgroundColor2;

    >img {
        width: 1139px;
        max-width: 90vw;
        margin: 60px auto 100px auto;
    }
}