@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
  
    .title {
        text-transform: uppercase;
        font-size: large;
        margin-left: 10px;
        color: white;
    }

      .container {
        color: grey;
      }
      
      .total-request-count {
        text-transform: uppercase;
        color: grey;
        position: absolute;
        top: 56%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: inherit;
        left: calc(50% - 62px);
      }
      
      .total-request-count-number {
        font-size: 3em;
        color: grey;
      }
}