@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
    width: 1140px;
    max-width: 90vw;
    margin: 100px auto 20px auto;

    .top {
        display: grid;
        grid-template-columns: calc(100% - 320px) 300px;
        grid-gap: 20px;

        @media (max-width: 700px) {
            grid-template-columns: auto;
            grid-gap: 0;
        }
    }

    .bottom {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 20px;

        @media (max-width: 700px) {
            grid-template-columns: auto;
            grid-gap: 0;
        }
    }

    .title {
        @media (max-width: 700px) {
            >h1 {
                font-size: 30px;
            }
        }
    }

    .right {
        will-change: opacity, transform;
        animation: fadeInFromRight 500ms;
    }

    .header {
        display: grid;
        grid-template-columns: calc(100% - 150px) 150px;
        margin: 20px 0;
        will-change: opacity, transform;
        animation: fadeInFromTop 500ms;

        >div>h1 {
            margin: 0;
            line-height: 40px;
        }
    }
}