@import "@/Themes/constants.scss";

.HomeTrusted {
    text-align: center;
    margin-top: 0;
  
    button {
      margin: 100px auto;
      width: 350px;
  
      @media (max-width: 900px) {
        max-width: 90vw;
      }
    }
  
  
  .HomeTrustedGrid {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    img {
      max-width: 200px;
    }
  
    @media (max-width: 900px) {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: auto;
      justify-content: initial;
  
      img {
        max-width: 70vw;
        margin: auto;
      }
    }
  }
}