@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
    border-radius: 6px;
    background: $backgroundColor2;
    box-shadow: 0 1px 10px $shadowColor;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 20px 15px 10px;
    height: 300px;
    margin: 0 0 20px 0;
    max-width: calc(100vw - 40px);
    will-change: opacity, transform;
    animation: fadeInFromLeft 500ms;
    position: relative;
    float: left;

    .title {
        text-transform: uppercase;
        font-size: large;
        margin-left: 10px;
        color: white;
    }

      .container {
        color: grey;
      }
      
      .no-data {
        font-size: 1em;
        color: grey;
        position: relative;
        top: 45%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin: auto;
      }
      
      .total-request-count {
        text-transform: uppercase;
        color: grey;
        position: absolute;
        top: 56%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: inherit;
        left: calc(50% - 62px);
      }
      
      .total-request-count-number {
        font-size: 3em;
        color: grey;
      }
}